In [0]:
dbutils.fs.ls('mnt/landing/')

[FileInfo(path='dbfs:/mnt/landing/Location/', name='Location/', size=0, modificationTime=1728919981000),
 FileInfo(path='dbfs:/mnt/landing/Payment/', name='Payment/', size=0, modificationTime=1728919981000),
 FileInfo(path='dbfs:/mnt/landing/PaymentMethod/', name='PaymentMethod/', size=0, modificationTime=1728919971000),
 FileInfo(path='dbfs:/mnt/landing/PaymentStatus/', name='PaymentStatus/', size=0, modificationTime=1728919976000),
 FileInfo(path='dbfs:/mnt/landing/Request/', name='Request/', size=0, modificationTime=1728919978000),
 FileInfo(path='dbfs:/mnt/landing/Trip/', name='Trip/', size=0, modificationTime=1728919984000),
 FileInfo(path='dbfs:/mnt/landing/User/', name='User/', size=0, modificationTime=1728920560000),
 FileInfo(path='dbfs:/mnt/landing/VehicleMakes/', name='VehicleMakes/', size=0, modificationTime=1728919979000),
 FileInfo(path='dbfs:/mnt/landing/Vehicles/', name='Vehicles/', size=0, modificationTime=1728919978000)]

In [0]:
dbutils.fs.ls('mnt/bronze/')

[FileInfo(path='dbfs:/mnt/bronze/Location/', name='Location/', size=0, modificationTime=1728928680000),
 FileInfo(path='dbfs:/mnt/bronze/Payment/', name='Payment/', size=0, modificationTime=1728928695000),
 FileInfo(path='dbfs:/mnt/bronze/PaymentMethod/', name='PaymentMethod/', size=0, modificationTime=1728928699000),
 FileInfo(path='dbfs:/mnt/bronze/PaymentStatus/', name='PaymentStatus/', size=0, modificationTime=1728928702000),
 FileInfo(path='dbfs:/mnt/bronze/Request/', name='Request/', size=0, modificationTime=1728928704000),
 FileInfo(path='dbfs:/mnt/bronze/Trip/', name='Trip/', size=0, modificationTime=1728928709000),
 FileInfo(path='dbfs:/mnt/bronze/User/', name='User/', size=0, modificationTime=1728928717000),
 FileInfo(path='dbfs:/mnt/bronze/VehicleMakes/', name='VehicleMakes/', size=0, modificationTime=1728928722000),
 FileInfo(path='dbfs:/mnt/bronze/Vehicles/', name='Vehicles/', size=0, modificationTime=1728928724000)]

In [0]:
table_names = []
for i in dbutils.fs.ls('mnt/landing/'):
    table_names.append(i.name.split('/')[0])

In [0]:
table_names

['Location',
 'Payment',
 'PaymentMethod',
 'PaymentStatus',
 'Request',
 'Trip',
 'User',
 'VehicleMakes',
 'Vehicles']

In [0]:
# Function to load CSV files into DataFrames
def load_parquet_files(table_names):
    """
    This function takes a list of CSV file names and loads each CSV into a Spark DataFrame.

    Args:
        file_names (list): List of CSV filenames to be loaded.
        landing_location (str): Path where the CSV files are located.

    Returns:
        dict: A dictionary containing DataFrames where the key is the file name and the value is the DataFrame.
    """
    # Create an empty dictionary to hold the DataFrames
    dataframes = {}
    # Loop over the filenames and load each CSV into a DataFrame
    for file in table_names:
        # Remove the ".csv" extension and use it as the DataFrame key
        df_name = file.split(".parquet")[0]
        # Load the CSV into a DataFrame and store it in the dictionary
        path = f"/mnt/landing/{file}/{file}.parquet"
        dataframes[df_name] = spark.read.format('parquet').load(path)
        
    return dataframes

In [0]:

# Load the CSV files into DataFrames
dataframes = load_parquet_files(table_names)

# Loop over the dataframes dictionary to assign each DataFrame to a global variable
for df_name, df in dataframes.items():
    globals()[df_name] = df

In [0]:
# Loop through each DataFrame in the dictionary and display its content
for df_name, df in dataframes.items():
    print(f"Showing first 5 rows of {df_name}:")
    df.show(5)
    df.printSchema()

Showing first 5 rows of Location:
+----------+------------+-----------+
|LocationID|   Longitude|   Latitude|
+----------+------------+-----------+
|     76173|-73.99945068|40.72192383|
|    567607|-73.77745056|40.64664841|
|    498838|-73.95517731|40.76498795|
|    138392|-73.99216461|40.72513962|
|    532266|-73.94660187|40.77573395|
+----------+------------+-----------+
only showing top 5 rows

root
 |-- LocationID: integer (nullable = true)
 |-- Longitude: decimal(12,8) (nullable = true)
 |-- Latitude: decimal(12,8) (nullable = true)

Showing first 5 rows of Payment:
+---------+---------------+---------------+
|PaymentID|PaymentMethodID|PaymentStatusID|
+---------+---------------+---------------+
|        6|              6|              4|
|        6|              6|              2|
|        3|              3|              1|
|        6|              6|              4|
|        6|              6|              1|
+---------+---------------+---------------+
only showing top 5 rows

root
 |-- PaymentID: integer (nullable = true)
 |-- PaymentMethodID: integer (nullable = true)
 |-- PaymentStatusID: integer (nullable = true)

Showing first 5 rows of PaymentMethod:
+---------------+-----------+
|PaymentMethodID| MethodName|
+---------------+-----------+
|              5| Google Pay|
|              1|  Apple Pay|
|              6|     PayPal|
|              3|Credit Card|
|              2|       Cash|
+---------------+-----------+
only showing top 5 rows

root
 |-- PaymentMethodID: integer (nullable = true)
 |-- MethodName: string (nullable = true)

Showing first 5 rows of PaymentStatus:
+---------------+----------+
|PaymentStatusID|StatusName|
+---------------+----------+
|              2|    Failed|
|              3|   Pending|
|              1| Completed|
|              4|  Refunded|
+---------------+----------+

root
 |-- PaymentStatusID: integer (nullable = true)
 |-- StatusName: string (nullable = true)

Showing first 5 rows of Request:
+---------+-----------+----------------+-----------------+-------------------+-------------------+
|RequestID|PassengerID|PickupLocationID|DropoffLocationID|        RequestTime|         AcceptTime|
+---------+-----------+----------------+-----------------+-------------------+-------------------+
|   199505|      97802|          421670|           314226|2015-01-10 21:21:00|2015-01-10 21:31:00|
|   478073|     239773|          432416|           450013|2015-01-22 07:57:00|2015-01-22 08:00:00|
|   447801|     224384|          562731|           567647|2015-01-04 00:27:00|2015-01-04 00:33:00|
|    31320|      15601|          173187|           290727|2015-01-07 13:43:00|2015-01-07 13:44:00|
|    92754|      45352|          435956|           501726|2015-01-25 17:10:00|2015-01-25 17:12:00|
+---------+-----------+----------------+-----------------+-------------------+-------------------+
only showing top 5 rows

root
 |-- RequestID: integer (nullable = true)
 |-- PassengerID: integer (nullable = true)
 |-- PickupLocationID: integer (nullable = true)
 |-- DropoffLocationID: integer (nullable = true)
 |-- RequestTime: timestamp (nullable = true)
 |-- AcceptTime: timestamp (nullable = true)

Showing first 5 rows of Trip:
+------+---------+--------+---------+---------+-------------------+-------------------+------------+-------------+--------+---------+------+---------+-----------+--------------------+
|TripID|RequestID|DriverID|VehicleID|PaymentID|      TripStartTime|        TripEndTime|TripDistance|driver_rating|BaseFare|ExtraFare|MtaTax|TipAmount|TollsAmount|ImprovementSurcharge|
+------+---------+--------+---------+---------+-------------------+-------------------+------------+-------------+--------+---------+------+---------+-----------+--------------------+
|     1|   369036|  784422|   363309|        6|2015-01-15 19:05:00|2015-01-15 19:23:00|        1.59|         NULL|   12.00|     1.00|  0.50|     3.25|       0.00|                0.30|
|     2|   369031|  840769|   336402|        6|2015-01-10 20:33:00|2015-01-10 20:53:00|        3.30|         NULL|   14.50|     0.50|  0.50|     2.00|       0.00|                0.30|
|     3|   369030|  784422|   287846|        3|2015-01-10 20:33:00|2015-01-10 20:43:00|        1.80|         NULL|    9.50|     0.50|  0.50|     0.00|       0.00|                0.30|
|     4|   289268|  840769|   336402|        6|2015-01-10 20:33:00|2015-01-10 20:35:00|        0.50|         NULL|    3.50|     0.50|  0.50|     0.00|       0.00|                0.30|
|     5|   391034|  840769|   336402|        6|2015-01-10 20:33:00|2015-01-10 20:52:00|        3.00|         NULL|   15.00|     0.50|  0.50|     0.00|       0.00|                0.30|
+------+---------+--------+---------+---------+-------------------+-------------------+------------+-------------+--------+---------+------+---------+-----------+--------------------+
only showing top 5 rows

root
 |-- TripID: integer (nullable = true)
 |-- RequestID: integer (nullable = true)
 |-- DriverID: integer (nullable = true)
 |-- VehicleID: integer (nullable = true)
 |-- PaymentID: integer (nullable = true)
 |-- TripStartTime: timestamp (nullable = true)
 |-- TripEndTime: timestamp (nullable = true)
 |-- TripDistance: decimal(10,2) (nullable = true)
 |-- driver_rating: double (nullable = true)
 |-- BaseFare: decimal(10,2) (nullable = true)
 |-- ExtraFare: decimal(10,2) (nullable = true)
 |-- MtaTax: decimal(10,2) (nullable = true)
 |-- TipAmount: decimal(10,2) (nullable = true)
 |-- TollsAmount: decimal(10,2) (nullable = true)
 |-- ImprovementSurcharge: decimal(10,2) (nullable = true)

Showing first 5 rows of User:
+------+-----------------+--------------------+--------------+----------------+
|UserID|         FullName|               Email|   PhoneNumber|DriverMeanRating|
+------+-----------------+--------------------+--------------+----------------+
|  4583|   Alexander Ruiz|  bbarry@example.com|(687) 331-4684|            NULL|
|  4584|   Alexander Ruiz|sydneyfleming@exa...|(367) 990-5730|            NULL|
|  4585|Alexander Salinas| tyler41@example.net|(678) 623-3713|            NULL|
|  4586|Alexander Sanchez| james59@example.com|(740) 652-2668|            NULL|
|  4587|Alexander Santana|qmitchell@example...|(995) 993-2936|            NULL|
+------+-----------------+--------------------+--------------+----------------+
only showing top 5 rows

root
 |-- UserID: integer (nullable = true)
 |-- FullName: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- PhoneNumber: string (nullable = true)
 |-- DriverMeanRating: double (nullable = true)

Showing first 5 rows of VehicleMakes:
+------+----------+
|MakeID|  MakeName|
+------+----------+
|     8|    Nissan|
|     3|      Ford|
|    10|Volkswagen|
|     5|   Hyundai|
|     2| Chevrolet|
+------+----------+
only showing top 5 rows

root
 |-- MakeID: integer (nullable = true)
 |-- MakeName: string (nullable = true)

Showing first 5 rows of Vehicles:
+---------+--------+------+--------+----+-----+------------+
|VehicleID|DriverID|MakeID|   Model|Year|Color|LicensePlate|
+---------+--------+------+--------+----+-----+------------+
|        1|  768428|     1|3 Series|1990|Black|       056TZ|
|        2|  753783|     1|3 Series|1990|Black|     1HA Y78|
|        3|  775032|     1|3 Series|1990|Black|    239 5643|
|        4|  866574|     1|3 Series|1990|Black|     4-C3474|
|        5|  913414|     1|3 Series|1990|Black|     57W GP8|
+---------+--------+------+--------+----+-----+------------+
only showing top 5 rows

root
 |-- VehicleID: integer (nullable = true)
 |-- DriverID: integer (nullable = true)
 |-- MakeID: integer (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Color: string (nullable = true)
 |-- LicensePlate: string (nullable = true)

In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *
def add_date_columns(dataframes):
    """
    This function takes a dictionary of DataFrames and adds 'processing_date' and 'modification_date' columns
    to each DataFrame.

    Args:
        dataframes (dict): A dictionary containing DataFrames.
    """
    processing_date = date_trunc('second', current_timestamp())

    for df_name, df in dataframes.items():
        # Add 'processing_date' and 'modification_date' columns
        #df = df.withcolumn("_pipeline_run_id", lit(dbutils.widgets.get('_pipeline_run_id')))
        df = df.withColumn("_processing_date", processing_date) \
                .withColumn("_input_filename", input_file_name()) \
                .withColumn("_input_file_modification_date", col("_metadata.file_modification_time"))
        
        # Update the DataFrame in the dictionary
        dataframes[df_name] = df

In [0]:

# Call the function to add date columns to all DataFrames
add_date_columns(dataframes)
# Loop over the dataframes dictionary to assign each DataFrame to a global variable
for df_name, df in dataframes.items():
    globals()[df_name] = df

In [0]:
from delta.tables import DeltaTable

def write_to_delta(dataframes):
    """
    This function checks if each table exists in Delta format at the specified location. 
    If the table exists, it appends the data; otherwise, it creates a new Delta table.

    Args:
        dataframes (dict): Dictionary of DataFrames.
        bronze_location (str): The base path where Delta tables will be stored.
    """
    for df_name, df in dataframes.items():
        delta_table_path = f"/mnt/bronze/{df_name}/"
        # Check if the Delta table exists
        if DeltaTable.isDeltaTable(spark, delta_table_path):
            print(f"Table {df_name} already exists, appending data.")
            df.write.mode("append").format("delta").save(delta_table_path)
        else:
            print(f"Creating new table for {df_name}.")
            df.write.mode("overwrite").format("delta").save(delta_table_path)

In [0]:
write_to_delta(dataframes)

Table Location already exists, appending data.
Table Payment already exists, appending data.
Table PaymentMethod already exists, appending data.
Table PaymentStatus already exists, appending data.
Table Request already exists, appending data.
Table Trip already exists, appending data.
Table User already exists, appending data.
Table VehicleMakes already exists, appending data.
Table Vehicles already exists, appending data.

In [0]:
# After your write_to_delta function
for file in table_names:
    table_name = f"bronze.{file.split('.parquet')[0]}"
    print(f"Creating external table: {table_name}")
    # Creating schema and external table in Spark SQL
    spark.sql("CREATE SCHEMA IF NOT EXISTS bronze")
    # Set the current database to 'bronze'
    spark.sql("USE bronze")
    delta_table_path = f"/mnt/bronze/{file.split('.parquet')[0]}/"
    spark.sql(f"CREATE EXTERNAL TABLE IF NOT EXISTS {table_name} USING DELTA LOCATION '{delta_table_path}'")
    #spark.sql(f"SELECT * FROM location_df_raw").show()

Creating external table: bronze.Location
Creating external table: bronze.Payment
Creating external table: bronze.PaymentMethod
Creating external table: bronze.PaymentStatus
Creating external table: bronze.Request
Creating external table: bronze.Trip
Creating external table: bronze.User
Creating external table: bronze.VehicleMakes
Creating external table: bronze.Vehicles

In [0]:
# Show all tables in the 'bronze' schema
spark.sql("SHOW TABLES IN bronze").show()

+--------+-------------+-----------+
|database|    tableName|isTemporary|
+--------+-------------+-----------+
|  bronze|     location|      false|
|  bronze|      payment|      false|
|  bronze|paymentmethod|      false|
|  bronze|paymentstatus|      false|
|  bronze|      request|      false|
|  bronze|         trip|      false|
|  bronze|         user|      false|
|  bronze| vehiclemakes|      false|
|  bronze|     vehicles|      false|
+--------+-------------+-----------+

In [0]:

# Verify the current schema
print("Current Schema:")
spark.sql("SELECT current_database()").show()

# List all tables in the bronze schema
print("Tables in bronze schema:")
spark.sql("SHOW TABLES IN bronze").show()
spark.sql("SELECT * FROM bronze.location LIMIT 1").show()
spark.sql("SELECT * FROM bronze.payment LIMIT 1").show()

Current Schema:
+----------------+
|current_schema()|
+----------------+
|          bronze|
+----------------+

Tables in bronze schema:
+--------+-------------+-----------+
|database|    tableName|isTemporary|
+--------+-------------+-----------+
|  bronze|     location|      false|
|  bronze|      payment|      false|
|  bronze|paymentmethod|      false|
|  bronze|paymentstatus|      false|
|  bronze|      request|      false|
|  bronze|         trip|      false|
|  bronze|         user|      false|
|  bronze| vehiclemakes|      false|
|  bronze|     vehicles|      false|
+--------+-------------+-----------+

+----------+------------+-----------+-------------------+--------------------+-----------------------------+
|LocationID|   Longitude|   Latitude|   _processing_date|     _input_filename|_input_file_modification_date|
+----------+------------+-----------+-------------------+--------------------+-----------------------------+
|     76173|-73.99945068|40.72192383|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
+----------+------------+-----------+-------------------+--------------------+-----------------------------+

+---------+---------------+---------------+-------------------+--------------------+-----------------------------+
|PaymentID|PaymentMethodID|PaymentStatusID|   _processing_date|     _input_filename|_input_file_modification_date|
+---------+---------------+---------------+-------------------+--------------------+-----------------------------+
|        6|              6|              4|2024-10-14 17:58:15|dbfs:/mnt/landing...|          2024-10-14 15:44:24|
+---------+---------------+---------------+-------------------+--------------------+-----------------------------+

In [0]:
spark.sql("SELECT _processing_date, count(*) cnt FROM bronze.location GROUP BY _processing_date").show()

+-------------------+-------+
|   _processing_date|    cnt|
+-------------------+-------+
|2024-10-14 17:58:01|1148663|
|2024-10-14 18:20:42|1148663|
|2024-10-15 00:11:46|1148663|
+-------------------+-------+

In [0]:
spark.sql("select * from bronze.location").show()

+----------+------------+-----------+-------------------+--------------------+-----------------------------+
|LocationID|   Longitude|   Latitude|   _processing_date|     _input_filename|_input_file_modification_date|
+----------+------------+-----------+-------------------+--------------------+-----------------------------+
|     76173|-73.99945068|40.72192383|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    567607|-73.77745056|40.64664841|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    498838|-73.95517731|40.76498795|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    138392|-73.99216461|40.72513962|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    532266|-73.94660187|40.77573395|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    144884|-73.99170685|40.76995850|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|     60322|-74.00185394|40.71962357|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    183905|-73.98905182|40.75791168|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    474267|-73.95960236|40.77397156|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|     48725|-74.00360870|40.72516632|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    131712|-73.99272919|40.76867676|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    131679|-73.99272919|40.73368835|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    528027|-73.94848633|40.78642273|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    199157|-73.98799896|40.73763657|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    173479|-73.98983002|40.74574661|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    127005|-73.99319458|40.76365662|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    249017|-73.98426056|40.77954483|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    278182|-73.98220062|40.76637650|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|    507129|-73.95393372|40.76709366|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
|     89657|-73.99737549|40.72490692|2024-10-14 17:58:01|dbfs:/mnt/landing...|          2024-10-14 15:47:38|
+----------+------------+-----------+-------------------+--------------------+-----------------------------+
only showing top 20 rows

In [0]:

# Dictionary to store the DeltaTable objects
delta_tables = {}

for file in table_names:
    file_name = file.split('.parquet')[0]  # Extract the file name (without .csv extension)
    table_name = f"bronze.{file_name}"  # Define the table name in the bronze schema
    # Store the DeltaTable object in the dictionary using the file name as the key
    delta_tables[file_name] = DeltaTable.forName(spark, table_name)

    # Vacuum the table if it has not been vacuumed in the last 30 days.
    if delta_tables[file_name].history(30).filter("operation = 'VACUUM START'").count() == 0:
        delta_tables[file_name].optimize()
        delta_tables[file_name].vacuum()  # Default = 7 days

In [0]:
spark.sql("SELECT COUNT(*) FROM bronze.location").show()

+--------+
|count(1)|
+--------+
| 3445989|
+--------+