In [0]:

from pyspark.sql.functions import *
from pyspark.sql.types import *
from delta import *

In [0]:
dim_date = "gold.DIM_DATES"
dim_user = "gold.DIM_USERS"
dim_vehicle = "gold.DIM_VEHICLES"
dim_location = "gold.DIM_LOCATIONS"
fact_request = "gold.FCT_REQUESTS"

In [0]:
# Get the list of tables in the specified schema
tables = spark.sql("SHOW TABLES IN silver").collect()
# Dictionary to store DataFrames
dataframes = {}

# Loop through each table in the schema
for row in tables:
    table_name = row['tableName']  # Get the table name
    full_table_name = f"silver.{table_name}"  # Construct the full table name
    # Read the data and filter based on the current date
    df = spark.read.table(full_table_name)
    df.printSchema()  # Check the schema of the DataFrame

    df = spark.read.table(full_table_name).filter(to_date(col("processing_date")) == current_date())
    # Store the DataFrame in the dictionary
    dataframes[full_table_name.split('.')[1]] = df

# Example: Show the first few rows of a specific DataFrame (e.g., user)
if "user" in dataframes:
    dataframes["user"].show()

root
 |-- location_id: integer (nullable = true)
 |-- longitude: decimal(12,8) (nullable = true)
 |-- latitude: decimal(12,8) (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- payment_id: integer (nullable = true)
 |-- payment_method_id: integer (nullable = true)
 |-- payment_status_id: integer (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- payment_method_id: integer (nullable = true)
 |-- method_name: string (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- payment_status_id: integer (nullable = true)
 |-- status_name: string (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- request_id: integer (nullable = true)
 |-- passenger_id: integer (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- request_time: timestamp (nullable = true)
 |-- accept_time: timestamp (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- trip_id: integer (nullable = true)
 |-- request_id: integer (nullable = true)
 |-- driver_id: integer (nullable = true)
 |-- vehicle_id: integer (nullable = true)
 |-- payment_id: integer (nullable = true)
 |-- trip_start_time: timestamp (nullable = true)
 |-- trip_end_time: timestamp (nullable = true)
 |-- trip_distance: decimal(10,2) (nullable = true)
 |-- base_fare: decimal(10,2) (nullable = true)
 |-- extra_fare: decimal(10,2) (nullable = true)
 |-- mta_tax: decimal(10,2) (nullable = true)
 |-- tip_amount: decimal(10,2) (nullable = true)
 |-- tolls_amount: decimal(10,2) (nullable = true)
 |-- improvement_surcharge: decimal(10,2) (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- user_id: integer (nullable = true)
 |-- full_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- make_id: integer (nullable = true)
 |-- make_name: string (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

root
 |-- vehicle_id: integer (nullable = true)
 |-- driver_id: integer (nullable = true)
 |-- make_id: integer (nullable = true)
 |-- model: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- color: string (nullable = true)
 |-- license_plate: string (nullable = true)
 |-- processing_date: timestamp (nullable = true)
 |-- record_modified_date: timestamp (nullable = true)
 |-- record_hash: string (nullable = true)

+-------+------------------+--------------------+--------------+-------------------+--------------------+--------------------+
|user_id|         full_name|               email|  phone_number|    processing_date|record_modified_date|         record_hash|
+-------+------------------+--------------------+--------------+-------------------+--------------------+--------------------+
| 941101|      Roger Steele|hreynolds@example...|(422) 748-8842|2024-10-15 00:12:56| 2024-10-14 15:48:30|00002092f76429912...|
| 986608|       Wendy Adams|johnsonaustin@exa...|(269) 318-9123|2024-10-15 00:12:56| 2024-10-14 15:48:30|00007bfccf7e03681...|
| 805716|      Howard Lucas|candice63@example...|(253) 757-7081|2024-10-15 00:12:56| 2024-10-14 15:48:30|0000d60cfa952b0ae...|
| 833097|      Joel Stanton|hugheschristina@e...|(554) 565-2140|2024-10-15 00:12:56| 2024-10-14 15:48:30|0000d9d11f26dab80...|
| 152981|Katherine Martinez|berrymonica@examp...|(485) 667-5677|2024-10-15 00:12:56| 2024-10-14 15:48:30|0001071191e995700...|
| 179415|        Lori Short|torreskimberly@ex...|(832) 437-3476|2024-10-15 00:12:56| 2024-10-14 15:48:30|0001977a81c999214...|
| 814560|     Janet Kennedy|keithcaitlin@exam...|(603) 106-8854|2024-10-15 00:12:56| 2024-10-14 15:48:30|00019d097cb1bddbe...|
| 102042|    Hannah Mcmahon| derek38@example.net|(754) 881-4212|2024-10-15 00:12:56| 2024-10-14 15:48:30|0001d949b916f6f12...|
| 962891|    Steven Barajas|lopezbryan@exampl...|(485) 160-4550|2024-10-15 00:12:56| 2024-10-14 15:48:30|0002275e0a12eeae6...|
| 814526|      Janet Howard|devinwilson@examp...|(144) 904-4214|2024-10-15 00:12:56| 2024-10-14 15:48:30|0002294378e66c579...|
| 816802|         Jason Kim|sandraduncan@exam...|(847) 131-3030|2024-10-15 00:12:56| 2024-10-14 15:48:30|0002670c30ead0cf0...|
| 870423|      Laura Jordan|johnsonclifford@e...|(626) 429-1649|2024-10-15 00:12:56| 2024-10-14 15:48:30|0002e865085988a33...|
| 218300|     Nicole Dalton|crystal84@example...|(797) 793-2135|2024-10-15 00:12:56| 2024-10-14 15:48:30|0002fff5f4c82173a...|
| 713058|        Ana Butler|leetimothy@exampl...|(563) 377-6105|2024-10-15 00:12:56| 2024-10-14 15:48:30|0003357be0d9e08f0...|
|  50715| Christina Johnson|gailhernandez@exa...|(937) 997-7898|2024-10-15 00:12:56| 2024-10-14 15:48:30|0003508d189087872...|
| 916879|   Nicholas Flores|  dsmith@example.net|(307) 650-8505|2024-10-15 00:12:56| 2024-10-14 15:48:30|000372e2bdbf888a5...|
| 782463|    Douglas Torres| kevin07@example.org|(835) 947-5082|2024-10-15 00:12:56| 2024-10-14 15:48:30|0003e0890e65adb20...|
| 799805|      Gloria Craig|jacobcarter@examp...|(505) 882-5700|2024-10-15 00:12:56| 2024-10-14 15:48:30|00047d4c91f850e54...|
|    564|  Aaron Mccullough|herrerajack@examp...|(684) 361-3743|2024-10-15 00:12:56| 2024-10-14 15:48:30|0004a407b412e48db...|
| 128768|Jessica Jacobs DDS|  msmith@example.com|(354) 100-9802|2024-10-15 00:12:56| 2024-10-14 15:48:30|0004c079c97f7f0dc...|
+-------+------------------+--------------------+--------------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [0]:
dataframes["user"].orderBy("full_name").show()

+-------+---------------+--------------------+--------------+-------------------+--------------------+--------------------+
|user_id|      full_name|               email|  phone_number|    processing_date|record_modified_date|         record_hash|
+-------+---------------+--------------------+--------------+-------------------+--------------------+--------------------+
| 700001|   Aaron Abbott|angela67@example.com|(453) 832-3608|2024-10-15 00:12:56| 2024-10-14 15:48:30|6e1ef69ae8734c534...|
|      1|   Aaron Acosta| vbishop@example.net|(677) 367-9557|2024-10-15 00:12:56| 2024-10-14 15:48:30|21d31195f82942e05...|
| 700002|   Aaron Acosta|vanessa20@example...|(953) 599-6007|2024-10-15 00:12:56| 2024-10-14 15:48:30|62d5bc8c4ecbeaf3d...|
|      4|    Aaron Adams|zjohnson@example.com|(324) 384-5822|2024-10-15 00:12:56| 2024-10-14 15:48:30|60f62b9afaac9bbb8...|
| 700006|    Aaron Adams| emily69@example.net|(217) 156-8782|2024-10-15 00:12:56| 2024-10-14 15:48:30|4866e617e54ca7de7...|
|      2|    Aaron Adams| james82@example.com|(332) 224-7965|2024-10-15 00:12:56| 2024-10-14 15:48:30|683e6c22fa1e45bef...|
| 700007|    Aaron Adams|jesseschwartz@exa...|(250) 242-4652|2024-10-15 00:12:56| 2024-10-14 15:48:30|09f0d6b77ee353721...|
| 700008|    Aaron Adams|  jill51@example.org|(120) 200-5627|2024-10-15 00:12:56| 2024-10-14 15:48:30|2136a8fcbeb5a2344...|
|      3|    Aaron Adams|nicholas92@exampl...|(351) 943-8670|2024-10-15 00:12:56| 2024-10-14 15:48:30|500bf842d2becc183...|
| 700005|    Aaron Adams|  dbowen@example.net|(672) 995-6696|2024-10-15 00:12:56| 2024-10-14 15:48:30|95bcf56ae7d7d1a85...|
| 700003|    Aaron Adams|angela64@example.com|(619) 154-2732|2024-10-15 00:12:56| 2024-10-14 15:48:30|c5cb6cb18f3c64b7d...|
| 700004|    Aaron Adams|beckdaniel@exampl...|(987) 878-1073|2024-10-15 00:12:56| 2024-10-14 15:48:30|d419e2eef5018e4d7...|
| 700009|   Aaron Adkins|   jchan@example.com|(959) 936-7702|2024-10-15 00:12:56| 2024-10-14 15:48:30|64243d430f017b27b...|
|      5|  Aaron Aguilar|anthony78@example...|(867) 762-3031|2024-10-15 00:12:56| 2024-10-14 15:48:30|a966dd203faf1291c...|
|      6|  Aaron Aguilar|wilsonruben@examp...|(376) 707-8408|2024-10-15 00:12:56| 2024-10-14 15:48:30|7d403c55cd6dae43e...|
| 700011|  Aaron Aguilar|reyeselizabeth@ex...|(554) 632-2702|2024-10-15 00:12:56| 2024-10-14 15:48:30|6b3dc250c9028f67b...|
| 700010|  Aaron Aguilar|beverlyhale@examp...|(862) 346-3495|2024-10-15 00:12:56| 2024-10-14 15:48:30|9da28f3e6bf59f72f...|
|      7|  Aaron Aguirre|samantha45@exampl...|(147) 383-2497|2024-10-15 00:12:56| 2024-10-14 15:48:30|e67e82d0ddd8f2482...|
| 700014|Aaron Alexander|mercadoerin@examp...|(527) 635-4032|2024-10-15 00:12:56| 2024-10-14 15:48:30|1639c1f9be36ddcc4...|
| 700012|Aaron Alexander|jasonhanna@exampl...|(868) 281-9704|2024-10-15 00:12:56| 2024-10-14 15:48:30|02ad6af82b5132694...|
+-------+---------------+--------------------+--------------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [0]:
# Step 1: Join user_df with vehicle_df on user_id (assuming driver_id in vehicle_df relates to user_id)
user_vehicle_df = dataframes["user"].join(dataframes["vehicles"], dataframes["user"]["user_id"] == dataframes["vehicles"]["driver_id"], "left")

# Step 2: Join vehicle_df with vehicle_make_df on make_id to bring in make details
user_vehicle_make_df = user_vehicle_df.join(dataframes["vehiclemakes"], dataframes["vehicles"]["make_id"] == dataframes["vehiclemakes"]["make_id"], "left")

In [0]:
dim_user = user_vehicle_make_df.select(
    "user_id",
    "full_name",
    "email",
    "phone_number",
    # Replace NULLs in vehicle columns with 'Passenger' or 'N/A'
    coalesce(user_vehicle_make_df["vehicle_id"], lit("Passenger")).alias("vehicle_id"),
    coalesce(user_vehicle_make_df["make_name"], lit("Passenger")).alias("vehicle_make"),
    coalesce(user_vehicle_make_df["model"], lit("Passenger")).alias("vehicle_model"),
    coalesce(user_vehicle_make_df["year"], lit("Passenger")).alias("vehicle_year"),
    coalesce(user_vehicle_make_df["color"], lit("Passenger")).alias("vehicle_color"),
    coalesce(user_vehicle_make_df["license_plate"], lit("Passenger")).alias("vehicle_license_plate")
)

In [0]:
dim_user.orderBy("full_name").show()

+-------+---------------+--------------------+--------------+----------+-------------+-------------+------------+-------------+---------------------+
|user_id|      full_name|               email|  phone_number|vehicle_id| vehicle_make|vehicle_model|vehicle_year|vehicle_color|vehicle_license_plate|
+-------+---------------+--------------------+--------------+----------+-------------+-------------+------------+-------------+---------------------+
| 700001|   Aaron Abbott|angela67@example.com|(453) 832-3608|    168434|      Hyundai|     Santa Fe|        2006|       Silver|              3BW 116|
|      1|   Aaron Acosta| vbishop@example.net|(677) 367-9557| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
| 700002|   Aaron Acosta|vanessa20@example...|(953) 599-6007|     11618|          BMW|     5 Series|        2017|       Orange|                 389J|
|      4|    Aaron Adams|zjohnson@example.com|(324) 384-5822| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
| 700006|    Aaron Adams| emily69@example.net|(217) 156-8782|     67661|    Chevrolet|        Tahoe|        1994|         Blue|              YCF 385|
|      2|    Aaron Adams| james82@example.com|(332) 224-7965| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
| 700007|    Aaron Adams|jesseschwartz@exa...|(250) 242-4652|     91967|         Ford|        F-150|        2017|         Gray|             50-41182|
| 700008|    Aaron Adams|  jill51@example.org|(120) 200-5627|    138962|        Honda|          Fit|        2006|       Silver|              65M 278|
|      3|    Aaron Adams|nicholas92@exampl...|(351) 943-8670| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
| 700005|    Aaron Adams|  dbowen@example.net|(672) 995-6696|     23039|          BMW|           X5|        1996|         Blue|              IIV-491|
| 700003|    Aaron Adams|angela64@example.com|(619) 154-2732|    359266|   Volkswagen|       Passat|        1997|        Green|              SRO 232|
| 700004|    Aaron Adams|beckdaniel@exampl...|(987) 878-1073|     52562|    Chevrolet|       Malibu|        2022|        Black|              324 JEN|
| 700009|   Aaron Adkins|   jchan@example.com|(959) 936-7702|    194019|          Kia|       Optima|        2005|         Blue|              VJP4675|
|      5|  Aaron Aguilar|anthony78@example...|(867) 762-3031| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
|      6|  Aaron Aguilar|wilsonruben@examp...|(376) 707-8408| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
| 700011|  Aaron Aguilar|reyeselizabeth@ex...|(554) 632-2702|    229699|Mercedes-Benz|      E-Class|        1994|        Black|              6-13526|
| 700010|  Aaron Aguilar|beverlyhale@examp...|(862) 346-3495|    102860|         Ford|       Fusion|        2012|        White|             86-85485|
|      7|  Aaron Aguirre|samantha45@exampl...|(147) 383-2497| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|
| 700014|Aaron Alexander|mercadoerin@examp...|(527) 635-4032|    209533|          Kia|         Soul|        2010|        Brown|              172 0QC|
| 700012|Aaron Alexander|jasonhanna@exampl...|(868) 281-9704|    191874|          Kia|        Forte|        2011|        White|             0Z W8141|
+-------+---------------+--------------------+--------------+----------+-------------+-------------+------------+-------------+---------------------+
only showing top 20 rows

In [0]:

# Define the start and end date
start_date = "2015-01-01"
end_date = "2015-01-31"

# Create a Spark DataFrame with a date range using the sequence function
calendar_df = spark.sql(f"""
    SELECT explode(sequence(to_date('{start_date}'), to_date('{end_date}'), interval 1 day)) as full_date
""")

# Transform the DataFrame to create the calendar dimension
dim_calendar = calendar_df.select(
    date_format("full_date", "yyyyMMdd").alias("date_key"),  # Convert to string format YYYYMMDD
    col("full_date"),
    dayofmonth("full_date").alias("day"),  # Day of the month
    date_format("full_date", "EEEE").alias("day_name"),  # Full name of the day
    dayofweek("full_date").alias("day_of_week"),  # Day of the week (1 = Sunday, 7 = Saturday)
    weekofyear("full_date").alias("week_of_year"),  # Week of the year
    month("full_date").alias("month"),  # Month (1-12)
    date_format("full_date", "MMMM").alias("month_name"),  # Full name of the month
    quarter("full_date").alias("quarter"),  # Quarter (1-4)
    year("full_date").alias("year"),  # Year
    when(dayofweek("full_date").isin([1, 7]), 1).otherwise(0).alias("is_weekend"),  # Weekend flag (1=weekend)
    lit(0).alias("is_holiday"),  # Dummy holiday flag (replace with actual holiday logic)
    month("full_date").alias("fiscal_month"),  # Fiscal month (you can customize this logic)
    quarter("full_date").alias("fiscal_quarter"),  # Fiscal quarter (you can customize this logic)
    year("full_date").alias("fiscal_year")  # Fiscal year
)

dim_calendar.printSchema()
# Show the resulting calendar dimension DataFrame

root
 |-- date_key: string (nullable = false)
 |-- full_date: date (nullable = false)
 |-- day: integer (nullable = false)
 |-- day_name: string (nullable = false)
 |-- day_of_week: integer (nullable = false)
 |-- week_of_year: integer (nullable = false)
 |-- month: integer (nullable = false)
 |-- month_name: string (nullable = false)
 |-- quarter: integer (nullable = false)
 |-- year: integer (nullable = false)
 |-- is_weekend: integer (nullable = false)
 |-- is_holiday: integer (nullable = false)
 |-- fiscal_month: integer (nullable = false)
 |-- fiscal_quarter: integer (nullable = false)
 |-- fiscal_year: integer (nullable = false)

In [0]:
dim_calendar.show(8)

+--------+----------+---+---------+-----------+------------+-----+----------+-------+----+----------+----------+------------+--------------+-----------+
|date_key| full_date|day| day_name|day_of_week|week_of_year|month|month_name|quarter|year|is_weekend|is_holiday|fiscal_month|fiscal_quarter|fiscal_year|
+--------+----------+---+---------+-----------+------------+-----+----------+-------+----+----------+----------+------------+--------------+-----------+
|20150101|2015-01-01|  1| Thursday|          5|           1|    1|   January|      1|2015|         0|         0|           1|             1|       2015|
|20150102|2015-01-02|  2|   Friday|          6|           1|    1|   January|      1|2015|         0|         0|           1|             1|       2015|
|20150103|2015-01-03|  3| Saturday|          7|           1|    1|   January|      1|2015|         1|         0|           1|             1|       2015|
|20150104|2015-01-04|  4|   Sunday|          1|           1|    1|   January|      1|2015|         1|         0|           1|             1|       2015|
|20150105|2015-01-05|  5|   Monday|          2|           2|    1|   January|      1|2015|         0|         0|           1|             1|       2015|
|20150106|2015-01-06|  6|  Tuesday|          3|           2|    1|   January|      1|2015|         0|         0|           1|             1|       2015|
|20150107|2015-01-07|  7|Wednesday|          4|           2|    1|   January|      1|2015|         0|         0|           1|             1|       2015|
|20150108|2015-01-08|  8| Thursday|          5|           2|    1|   January|      1|2015|         0|         0|           1|             1|       2015|
+--------+----------+---+---------+-----------+------------+-----+----------+-------+----+----------+----------+------------+--------------+-----------+
only showing top 8 rows

In [0]:
dataframes["payment"].show(10)
dataframes["paymentmethod"].show()
dataframes["paymentstatus"].show()

+----------+-----------------+-----------------+-------------------+--------------------+--------------------+
|payment_id|payment_method_id|payment_status_id|    processing_date|record_modified_date|         record_hash|
+----------+-----------------+-----------------+-------------------+--------------------+--------------------+
|         1|                1|                1|2024-10-15 00:13:13| 2024-10-14 15:44:24|6b86b273ff34fce19...|
|         6|                6|                4|2024-10-15 00:13:13| 2024-10-14 15:44:24|e7f6c011776e8db7c...|
|         3|                3|                1|2024-10-15 00:13:13| 2024-10-14 15:44:24|4e07408562bedb8b6...|
|         5|                5|                2|2024-10-15 00:13:13| 2024-10-14 15:44:24|ef2d127de37b942ba...|
|         4|                4|                4|2024-10-15 00:13:13| 2024-10-14 15:44:24|4b227777d4dd1fc61...|
|         2|                2|                3|2024-10-15 00:13:13| 2024-10-14 15:44:24|d4735e3a265e16eee...|
+----------+-----------------+-----------------+-------------------+--------------------+--------------------+

+-----------------+-----------+-------------------+--------------------+--------------------+
|payment_method_id|method_name|    processing_date|record_modified_date|         record_hash|
+-----------------+-----------+-------------------+--------------------+--------------------+
|                1|  Apple Pay|2024-10-15 00:13:16| 2024-10-14 15:42:53|6b86b273ff34fce19...|
|                2|       Cash|2024-10-15 00:13:16| 2024-10-14 15:42:53|d4735e3a265e16eee...|
|                3|Credit Card|2024-10-15 00:13:16| 2024-10-14 15:42:53|4e07408562bedb8b6...|
|                4| Debit Card|2024-10-15 00:13:16| 2024-10-14 15:42:53|4b227777d4dd1fc61...|
|                5| Google Pay|2024-10-15 00:13:16| 2024-10-14 15:42:53|ef2d127de37b942ba...|
|                6|     PayPal|2024-10-15 00:13:16| 2024-10-14 15:42:53|e7f6c011776e8db7c...|
+-----------------+-----------+-------------------+--------------------+--------------------+

+-----------------+-----------+-------------------+--------------------+--------------------+
|payment_status_id|status_name|    processing_date|record_modified_date|         record_hash|
+-----------------+-----------+-------------------+--------------------+--------------------+
|                1|  Completed|2024-10-15 00:13:18| 2024-10-14 15:42:36|6b86b273ff34fce19...|
|                2|     Failed|2024-10-15 00:13:18| 2024-10-14 15:42:36|d4735e3a265e16eee...|
|                3|    Pending|2024-10-15 00:13:18| 2024-10-14 15:42:36|4e07408562bedb8b6...|
|                4|   Refunded|2024-10-15 00:13:18| 2024-10-14 15:42:36|4b227777d4dd1fc61...|
+-----------------+-----------+-------------------+--------------------+--------------------+

In [0]:
# Perform a cross join to get all combinations of PaymentMethod and PaymentStatus
combined_df = dataframes["paymentmethod"].crossJoin(dataframes["paymentstatus"])

# Add an incremental surrogate key
final_df = combined_df.withColumn("s_payment", monotonically_increasing_id())

# Select only the relevant columns (SurrogateKey, PaymentMethodID, PaymentStatusID)
dim_payment = final_df.select("s_payment", "payment_method_id", "method_name", "payment_status_id", "status_name")

# Show the resulting DataFrame
dim_payment.show(30)

+---------+-----------------+-----------+-----------------+-----------+
|s_payment|payment_method_id|method_name|payment_status_id|status_name|
+---------+-----------------+-----------+-----------------+-----------+
|        0|                1|  Apple Pay|                1|  Completed|
|        1|                1|  Apple Pay|                2|     Failed|
|        2|                1|  Apple Pay|                3|    Pending|
|        3|                1|  Apple Pay|                4|   Refunded|
|        4|                2|       Cash|                1|  Completed|
|        5|                2|       Cash|                2|     Failed|
|        6|                2|       Cash|                3|    Pending|
|        7|                2|       Cash|                4|   Refunded|
|        8|                3|Credit Card|                1|  Completed|
|        9|                3|Credit Card|                2|     Failed|
|       10|                3|Credit Card|                3|    Pending|
|       11|                3|Credit Card|                4|   Refunded|
|       12|                4| Debit Card|                1|  Completed|
|       13|                4| Debit Card|                2|     Failed|
|       14|                4| Debit Card|                3|    Pending|
|       15|                4| Debit Card|                4|   Refunded|
|       16|                5| Google Pay|                1|  Completed|
|       17|                5| Google Pay|                2|     Failed|
|       18|                5| Google Pay|                3|    Pending|
|       19|                5| Google Pay|                4|   Refunded|
|       20|                6|     PayPal|                1|  Completed|
|       21|                6|     PayPal|                2|     Failed|
|       22|                6|     PayPal|                3|    Pending|
|       23|                6|     PayPal|                4|   Refunded|
+---------+-----------------+-----------+-----------------+-----------+

In [0]:
dim_payment.show(10)

+---------+-----------------+-----------+-----------------+-----------+
|s_payment|payment_method_id|method_name|payment_status_id|status_name|
+---------+-----------------+-----------+-----------------+-----------+
|        0|                1|  Apple Pay|                1|  Completed|
|        1|                1|  Apple Pay|                2|     Failed|
|        2|                1|  Apple Pay|                3|    Pending|
|        3|                1|  Apple Pay|                4|   Refunded|
|        4|                2|       Cash|                1|  Completed|
|        5|                2|       Cash|                2|     Failed|
|        6|                2|       Cash|                3|    Pending|
|        7|                2|       Cash|                4|   Refunded|
|        8|                3|Credit Card|                1|  Completed|
|        9|                3|Credit Card|                2|     Failed|
+---------+-----------------+-----------+-----------------+-----------+
only showing top 10 rows

In [0]:
dim_location = dataframes["location"].select("location_id", "latitude", "longitude")
dim_location.show()

+-----------+-----------+------------+
|location_id|   latitude|   longitude|
+-----------+-----------+------------+
|     534332|40.80208206|-73.94550323|
|       8922|40.71480942|-74.01123047|
|     245539|40.75943756|-73.98454285|
|     272874|40.76562119|-73.98242950|
|     173273|40.76070404|-73.98984528|
|     320069|40.78929901|-73.97923279|
|      74627|40.71456528|-73.99970245|
|     422957|40.77065659|-73.96841431|
|     442324|40.80597305|-73.96557617|
|     360541|40.75173569|-73.97579193|
|     354277|40.72886276|-73.97641754|
|     198480|40.73231506|-73.98804474|
|     420681|40.79624939|-73.96874237|
|     427568|40.75556946|-73.96782684|
|     118623|40.71798325|-73.99394989|
|     173854|40.76736832|-73.98980713|
|     539166|40.75203323|-73.93933868|
|     421466|40.76403046|-73.96862030|
|     361052|40.76347351|-73.97573853|
|     527211|40.77400589|-73.94878387|
+-----------+-----------+------------+
only showing top 20 rows

In [0]:
dataframes["request"].show(5)
dataframes["trip"].show(5)

+----------+------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+
|request_id|passenger_id|pickup_location_id|dropoff_location_id|       request_time|        accept_time|    processing_date|record_modified_date|         record_hash|
+----------+------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+
|    237680|      116990|            325968|             282621|2015-01-13 21:04:00|2015-01-13 21:13:00|2024-10-15 00:13:20| 2024-10-14 15:47:33|39c6325cdb5e629fa...|
|    273431|      136300|             68934|             233428|2015-01-08 01:34:00|2015-01-08 01:41:00|2024-10-15 00:13:20| 2024-10-14 15:47:33|28c653b4e7e206ae4...|
|     34051|       16972|            375948|              98347|2015-01-26 13:56:00|2015-01-26 13:59:00|2024-10-15 00:13:20| 2024-10-14 15:47:33|71c70b5555bbb8ac4...|
|    370418|      184327|            401457|             294000|2015-01-28 05:51:00|2015-01-28 05:56:00|2024-10-15 00:13:20| 2024-10-14 15:47:33|9c38faef39df39581...|
|    502739|      252115|            329893|             475830|2015-01-16 07:09:00|2015-01-16 07:11:00|2024-10-15 00:13:20| 2024-10-14 15:47:33|e15b11c256645853f...|
+----------+------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+
only showing top 5 rows

+-------+----------+---------+----------+----------+-------------------+-------------------+-------------+---------+----------+-------+----------+------------+---------------------+-------------------+--------------------+--------------------+
|trip_id|request_id|driver_id|vehicle_id|payment_id|    trip_start_time|      trip_end_time|trip_distance|base_fare|extra_fare|mta_tax|tip_amount|tolls_amount|improvement_surcharge|    processing_date|record_modified_date|         record_hash|
+-------+----------+---------+----------+----------+-------------------+-------------------+-------------+---------+----------+-------+----------+------------+---------------------+-------------------+--------------------+--------------------+
|     27|    277968|   849799|     30165|         5|2015-01-15 19:05:00|2015-01-15 19:16:00|         1.53|     9.00|      1.00|   0.50|      0.00|        0.00|                 0.30|2024-10-15 00:13:26| 2024-10-14 15:49:31|7f07810e08175b5ba...|
|    708|     35728|   751820|    266933|         1|2015-01-10 20:14:00|2015-01-10 20:14:00|         0.00|     2.50|      0.50|   0.50|      0.00|        0.00|                 0.30|2024-10-15 00:13:26| 2024-10-14 15:49:31|fcd795c49d44a16a5...|
|    987|    141396|   876384|    243613|         4|2015-01-07 20:40:00|2015-01-07 20:47:00|         1.30|     7.00|      0.50|   0.50|      1.65|        0.00|                 0.30|2024-10-15 00:13:26| 2024-10-14 15:49:31|609e082897dc94d14...|
|   1885|    147091|   877543|    188065|         5|2015-01-21 06:31:00|2015-01-21 06:39:00|         0.90|     7.00|      0.00|   0.50|      0.00|        0.00|                 0.30|2024-10-15 00:13:26| 2024-10-14 15:49:31|fbd32311c77c8d04c...|
|   1963|    386848|   766687|    330093|         2|2015-01-07 22:02:00|2015-01-07 22:16:00|         4.00|    15.00|      0.50|   0.50|      3.25|        0.00|                 0.30|2024-10-15 00:13:26| 2024-10-14 15:49:31|c214abbd4034f69e2...|
+-------+----------+---------+----------+----------+-------------------+-------------------+-------------+---------+----------+-------+----------+------------+---------------------+-------------------+--------------------+--------------------+
only showing top 5 rows

In [0]:

# Join the DataFrames
fact_request = dataframes["request"].join(dataframes["trip"], dataframes["request"]["request_id"] == dataframes["trip"]["request_id"], "left") \
    .join(dataframes["payment"], dataframes["trip"]["payment_id"] == dataframes["payment"]["payment_id"], "left") \
    .join(dim_payment, 
          (dataframes["payment"]["payment_method_id"] == dim_payment["payment_method_id"]) & 
          (dataframes["payment"]["payment_status_id"] == dim_payment["payment_status_id"]), 
          "left") \
    .select(
        dataframes["trip"]["driver_id"],
        dataframes["request"]["passenger_id"],
        dataframes["request"]["pickup_location_id"],
        dataframes["request"]["dropoff_location_id"],
        date_format(dataframes["request"]["request_time"], 'yyyyMMdd').alias("request_datekey"),  # Renamed and formatted
        date_format(dataframes["request"]["accept_time"], 'yyyyMMdd').alias("accept_datekey"),    # Renamed and formatted
        date_format(dataframes["trip"]["trip_start_time"], 'yyyyMMdd').alias("trip_start_datekey"),   # Renamed
        date_format(dataframes["trip"]["trip_end_time"], 'yyyyMMdd').alias("trip_end_datekey"),       # Renamed
        dim_payment["s_payment"],
        dataframes["trip"]["trip_distance"],
        dataframes["trip"]["base_fare"],
        dataframes["trip"]["extra_fare"],
        dataframes["trip"]["mta_tax"],
        dataframes["trip"]["tip_amount"],
        dataframes["trip"]["tolls_amount"],
        dataframes["trip"]["improvement_surcharge"]
    )

fact_request.show(24)

+---------+------------+------------------+-------------------+---------------+--------------+------------------+----------------+---------+-------------+---------+----------+-------+----------+------------+---------------------+
|driver_id|passenger_id|pickup_location_id|dropoff_location_id|request_datekey|accept_datekey|trip_start_datekey|trip_end_datekey|s_payment|trip_distance|base_fare|extra_fare|mta_tax|tip_amount|tolls_amount|improvement_surcharge|
+---------+------------+------------------+-------------------+---------------+--------------+------------------+----------------+---------+-------------+---------+----------+-------+----------+------------+---------------------+
|   786475|       17820|            440218|             406815|       20150103|      20150103|          20150103|        20150103|       17|         0.50|     4.50|      0.00|   0.50|      0.00|        0.00|                 0.00|
|   927190|       17899|            351563|             555384|       20150130|      20150130|          20150130|        20150130|       15|         9.52|    29.50|      0.00|   0.50|      6.97|        5.33|                 0.30|
|   756354|       18769|            540389|             538515|       20150122|      20150122|          20150122|        20150122|       17|         1.50|     7.00|      0.00|   0.50|      2.00|        0.00|                 0.30|
|   810698|       29008|            187165|             235622|       20150125|      20150125|          20150125|        20150125|       17|         2.62|    13.00|      0.00|   0.50|      0.00|        0.00|                 0.30|
|   758036|       53333|            308519|             411373|       20150107|      20150107|          20150107|        20150107|       17|         1.50|     9.00|      1.00|   0.50|      0.00|        0.00|                 0.30|
|   772997|       74465|            466407|             479678|       20150101|      20150101|          20150101|        20150101|        6|         1.90|     9.20|      0.00|   0.50|      2.00|        0.00|                 0.00|
|   830855|       76725|            302575|             247019|       20150116|      20150116|          20150116|        20150116|        6|         0.20|     3.50|      1.00|   0.50|      0.00|        0.00|                 0.30|
|   762137|       85264|            116820|              59761|       20150126|      20150126|          20150126|        20150126|       23|         1.31|     8.50|      0.00|   0.50|      2.00|        0.00|                 0.30|
|   961639|      131017|             30330|             348103|       20150126|      20150126|          20150126|        20150126|       23|         3.00|    18.00|      0.00|   0.50|      4.70|        0.00|                 0.30|
|   785585|      131599|            304267|             556212|       20150108|      20150108|          20150108|        20150108|       23|         9.92|    34.00|      0.00|   0.50|      6.80|        0.00|                 0.30|
|   831310|      136300|             68934|             233428|       20150108|      20150108|          20150108|        20150108|        0|         3.23|    12.50|      0.50|   0.50|      2.60|        0.00|                 0.30|
|   864499|      139092|            243744|             172120|       20150105|      20150105|          20150105|        20150105|        0|         2.10|     8.50|      0.50|   0.50|      1.00|        0.00|                 0.30|
|   899898|      145423|            421653|             364747|       20150109|      20150109|          20150109|        20150109|       23|         1.48|     8.50|      1.00|   0.50|      1.90|        0.00|                 0.30|
|   827790|      166276|            234159|             406223|       20150127|      20150127|          20150127|        20150127|       17|         1.09|     5.00|      0.00|   0.50|      0.00|        0.00|                 0.30|
|   848743|      202216|            439427|             426411|       20150102|      20150102|          20150102|        20150102|       17|         1.09|     6.00|      0.50|   0.50|      1.62|        0.00|                 0.30|
|   884045|      214835|            451307|             386519|       20150118|      20150118|          20150118|        20150118|        0|         1.14|     5.50|      0.00|   0.50|      0.00|        0.00|                 0.30|
|   914210|      262235|            237698|             312740|       20150114|      20150114|          20150114|        20150114|       23|         1.71|     9.50|      0.00|   0.50|      1.50|        0.00|                 0.30|
|   981409|      282068|            236459|             366975|       20150125|      20150125|          20150125|        20150125|       23|         1.50|     7.00|      0.50|   0.50|      2.00|        0.00|                 0.30|
|   918510|       21993|            562731|             567647|       20150120|      20150120|          20150120|        20150120|       15|         3.20|    15.50|      1.00|   0.50|      0.00|        0.00|                 0.30|
|   723393|       26314|            383924|             358230|       20150110|      20150110|          20150110|        20150110|        8|         1.80|    15.00|      0.00|   0.50|      0.00|        0.00|                 0.30|
|   748038|       41849|            137912|             525749|       20150124|      20150124|          20150124|        20150124|        6|         3.90|    16.00|      0.50|   0.50|      0.00|        0.00|                 0.30|
|   804171|       48428|            174491|             195208|       20150108|      20150108|          20150108|        20150108|       15|         2.40|    14.00|      0.50|   0.50|      0.00|        0.00|                 0.30|
|   878006|       54655|            383908|             284067|       20150107|      20150107|          20150107|        20150107|       17|         1.57|     7.00|      0.50|   0.50|      1.88|        0.00|                 0.30|
|   867757|       57112|            299485|             128850|       20150131|      20150131|          20150131|        20150131|        8|         0.90|     6.00|      0.00|   0.50|      1.50|        0.00|                 0.30|
+---------+------------+------------------+-------------------+---------------+--------------+------------------+----------------+---------+-------------+---------+----------+-------+----------+------------+---------------------+
only showing top 24 rows

In [0]:
dataframes = [dim_calendar, dim_location, dim_payment, dim_user, fact_request]
# Names of the original DataFrames
dataframe_names = ["dim_calendar", "dim_location", "dim_payment", "dim_user", "fct_request"]

In [0]:
processing_date = date_trunc('second', current_timestamp())

for i, df in enumerate(dataframes):
    # Apply column name conversion
    df = df.withColumn("processing_date", processing_date)

    # Reassign the modified DataFrame back to the original global variable
    globals()[dataframe_names[i]] = df
    
    # Show the first 5 rows of the updated DataFrame

In [0]:

# List of DataFrames, locations, and hash columns with an attribute for slowly changing dimension (SCD)
tables_info = [
    {"df": dim_user, "location": "/mnt/gold/dim_user", "hash_columns": ["user_id", "full_name"], "is_scd": True},
    {"df": dim_calendar, "location": "/mnt/gold//dim_calendar", "hash_columns": ["date_key"], "is_scd": True},
    {"df": dim_location, "location": "/mnt/gold/dim_location", "hash_columns": ["location_id"], "is_scd": True},
    {"df": dim_payment, "location": "/mnt/gold/dim_payment", "hash_columns": ["s_payment"], "is_scd": True},
    {"df": fact_request, "location": "/mnt/gold/fct_request", "hash_columns": ["driver_id", "trip_start_datekey"], "is_scd": True}
]

def deduplicate_source_df(source_df: DataFrame, hash_columns: list) -> DataFrame:
    """
    Deduplicates the source DataFrame based on the hash columns.
    
    Args:
        source_df (DataFrame): The source DataFrame to be deduplicated.
        hash_columns (list): List of columns to be used for deduplication.
        
    Returns:
        DataFrame: The deduplicated DataFrame.
    """
    return source_df.dropDuplicates(hash_columns)

# Function to generate a hash column for specified columns in a DataFrame
def generate_hash_column(df: DataFrame, columns: list, hash_column_name: str = "record_hash") -> DataFrame:
    """
    Generates a hash column for specified columns in the DataFrame using SHA-256.
    """
    return df.withColumn(hash_column_name, sha2(concat_ws("||", *columns), 256))

# Function to build merge condition using hash
def build_merge_condition_with_hash(target_alias: str, source_alias: str, hash_column: str) -> str:
    """
    Builds a merge condition string using the hash column.
    """
    return f"{target_alias}.{hash_column} = {source_alias}.{hash_column}"

# Function to merge Delta tables based on SCD flag
def merge_delta_table(source_df: DataFrame, delta_location: str, hash_columns: list, is_scd: bool):
    """
    Performs merge for slowly changing dimension (SCD) tables. If is_scd is False, data is simply overwritten.
    """
    # Generate hash column for the source DataFrame
    source_df_hashed = generate_hash_column(source_df, hash_columns)
    
    # If the table is an SCD, perform a merge operation
    if is_scd:
        try:
            # Check if the Delta table exists at the specified location
            if DeltaTable.isDeltaTable(spark, delta_location):
                print(f"Delta table found at {delta_location}. Proceeding with merge...")
                delta_table = DeltaTable.forPath(spark, delta_location)
                
                # Alias for target and source
                target_alias = "target"
                source_alias = "src"
                
                # Generate hash column for the target Delta table
                delta_table_df = spark.read.format("delta").load(delta_location)
                delta_table_hashed = generate_hash_column(delta_table_df, hash_columns)
                
                # Build the merge condition using the hash column
                merge_condition = build_merge_condition_with_hash(target_alias, source_alias, "record_hash")
                
                # Perform the merge operation
                delta_table.alias(target_alias).merge(
                    source=source_df_hashed.alias(source_alias),
                    condition=merge_condition
                ).whenMatchedUpdateAll().whenNotMatchedInsertAll().execute()
                
                print(f"Merge completed for {delta_location}.")
            else:
                # If Delta table doesn't exist, write the DataFrame to that location
                print(f"No Delta table found at {delta_location}. Writing new DataFrame...")
                source_df_hashed.write.mode("overwrite").format("delta").save(delta_location)
                print(f"DataFrame written to {delta_location}.")
        except Exception as e:
            print(f"Error processing table at {delta_location}: {e}")
    else:
        # For non-SCD tables, just overwrite the data
        print(f"{delta_location} is not an SCD table. Overwriting...")
        source_df_hashed.write.mode("overwrite").format("delta").save(delta_location)
        print(f"DataFrame overwritten at {delta_location}.")

In [0]:
# Loop through each table and perform the operations
for table_info in tables_info:
    # Print the schema of the source DataFrame
    print("Schema of source DataFrame:")
    table_info["df"].printSchema()  # Ensure we are printing the schema of the specific DataFrame

    # Deduplicate the source DataFrame based on hash columns
    df = deduplicate_source_df(table_info["df"], table_info["hash_columns"])
    
    # Prepare the Delta table location and SCD flag
    delta_location = table_info["location"]
    hash_columns = table_info["hash_columns"]
    is_scd = table_info["is_scd"]  # Check if it's a slowly changing dimension

    # Perform merge or overwrite based on is_scd flag
    merge_delta_table(df, delta_location, hash_columns, is_scd)

Schema of source DataFrame:
root
 |-- user_id: integer (nullable = true)
 |-- full_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- vehicle_id: string (nullable = false)
 |-- vehicle_make: string (nullable = false)
 |-- vehicle_model: string (nullable = false)
 |-- vehicle_year: string (nullable = false)
 |-- vehicle_color: string (nullable = false)
 |-- vehicle_license_plate: string (nullable = false)
 |-- processing_date: timestamp (nullable = true)

Delta table found at /mnt/gold/dim_user. Proceeding with merge...
Merge completed for /mnt/gold/dim_user.
Schema of source DataFrame:
root
 |-- date_key: string (nullable = false)
 |-- full_date: date (nullable = false)
 |-- day: integer (nullable = false)
 |-- day_name: string (nullable = false)
 |-- day_of_week: integer (nullable = false)
 |-- week_of_year: integer (nullable = false)
 |-- month: integer (nullable = false)
 |-- month_name: string (nullable = false)
 |-- quarter: integer (nullable = false)
 |-- year: integer (nullable = false)
 |-- is_weekend: integer (nullable = false)
 |-- is_holiday: integer (nullable = false)
 |-- fiscal_month: integer (nullable = false)
 |-- fiscal_quarter: integer (nullable = false)
 |-- fiscal_year: integer (nullable = false)
 |-- processing_date: timestamp (nullable = true)

/mnt/gold//dim_calendar is not an SCD table. Overwriting...
DataFrame overwritten at /mnt/gold//dim_calendar.
Schema of source DataFrame:
root
 |-- location_id: integer (nullable = true)
 |-- latitude: decimal(12,8) (nullable = true)
 |-- longitude: decimal(12,8) (nullable = true)
 |-- processing_date: timestamp (nullable = true)

/mnt/gold/dim_location is not an SCD table. Overwriting...
DataFrame overwritten at /mnt/gold/dim_location.
Schema of source DataFrame:
root
 |-- s_payment: long (nullable = false)
 |-- payment_method_id: integer (nullable = true)
 |-- method_name: string (nullable = true)
 |-- payment_status_id: integer (nullable = true)
 |-- status_name: string (nullable = true)
 |-- processing_date: timestamp (nullable = true)

/mnt/gold/dim_payment is not an SCD table. Overwriting...
DataFrame overwritten at /mnt/gold/dim_payment.
Schema of source DataFrame:
root
 |-- driver_id: integer (nullable = true)
 |-- passenger_id: integer (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- request_datekey: string (nullable = true)
 |-- accept_datekey: string (nullable = true)
 |-- trip_start_datekey: string (nullable = true)
 |-- trip_end_datekey: string (nullable = true)
 |-- s_payment: long (nullable = true)
 |-- trip_distance: decimal(10,2) (nullable = true)
 |-- base_fare: decimal(10,2) (nullable = true)
 |-- extra_fare: decimal(10,2) (nullable = true)
 |-- mta_tax: decimal(10,2) (nullable = true)
 |-- tip_amount: decimal(10,2) (nullable = true)
 |-- tolls_amount: decimal(10,2) (nullable = true)
 |-- improvement_surcharge: decimal(10,2) (nullable = true)

/mnt/gold/fct_request is not an SCD table. Overwriting...
DataFrame overwritten at /mnt/gold/fct_request.

In [0]:
spark.read.format("delta").load("/mnt/gold/dim_user").orderBy("full_name").show()

+-------+---------------+--------------------+--------------+----------+-------------+-------------+------------+-------------+---------------------+-------------------+--------------------+
|user_id|      full_name|               email|  phone_number|vehicle_id| vehicle_make|vehicle_model|vehicle_year|vehicle_color|vehicle_license_plate|    processing_date|         record_hash|
+-------+---------------+--------------------+--------------+----------+-------------+-------------+------------+-------------+---------------------+-------------------+--------------------+
| 700001|   Aaron Abbott|angela67@example.com|(453) 832-3608|    168434|      Hyundai|     Santa Fe|        2006|       Silver|              3BW 116|2024-10-15 00:15:01|6e1ef69ae8734c534...|
|      1|   Aaron Acosta| vbishop@example.net|(677) 367-9557| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|21d31195f82942e05...|
| 700002|   Aaron Acosta|vanessa20@example...|(953) 599-6007|     11618|          BMW|     5 Series|        2017|       Orange|                 389J|2024-10-15 00:15:01|62d5bc8c4ecbeaf3d...|
|      2|    Aaron Adams| james82@example.com|(332) 224-7965| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|683e6c22fa1e45bef...|
| 700006|    Aaron Adams| emily69@example.net|(217) 156-8782|     67661|    Chevrolet|        Tahoe|        1994|         Blue|              YCF 385|2024-10-15 00:15:01|4866e617e54ca7de7...|
| 700005|    Aaron Adams|  dbowen@example.net|(672) 995-6696|     23039|          BMW|           X5|        1996|         Blue|              IIV-491|2024-10-15 00:15:01|95bcf56ae7d7d1a85...|
| 700003|    Aaron Adams|angela64@example.com|(619) 154-2732|    359266|   Volkswagen|       Passat|        1997|        Green|              SRO 232|2024-10-15 00:15:01|c5cb6cb18f3c64b7d...|
| 700007|    Aaron Adams|jesseschwartz@exa...|(250) 242-4652|     91967|         Ford|        F-150|        2017|         Gray|             50-41182|2024-10-15 00:15:01|09f0d6b77ee353721...|
|      3|    Aaron Adams|nicholas92@exampl...|(351) 943-8670| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|500bf842d2becc183...|
| 700008|    Aaron Adams|  jill51@example.org|(120) 200-5627|    138962|        Honda|          Fit|        2006|       Silver|              65M 278|2024-10-15 00:15:01|2136a8fcbeb5a2344...|
|      4|    Aaron Adams|zjohnson@example.com|(324) 384-5822| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|60f62b9afaac9bbb8...|
| 700004|    Aaron Adams|beckdaniel@exampl...|(987) 878-1073|     52562|    Chevrolet|       Malibu|        2022|        Black|              324 JEN|2024-10-15 00:15:01|d419e2eef5018e4d7...|
| 700009|   Aaron Adkins|   jchan@example.com|(959) 936-7702|    194019|          Kia|       Optima|        2005|         Blue|              VJP4675|2024-10-15 00:15:01|64243d430f017b27b...|
| 700011|  Aaron Aguilar|reyeselizabeth@ex...|(554) 632-2702|    229699|Mercedes-Benz|      E-Class|        1994|        Black|              6-13526|2024-10-15 00:15:01|6b3dc250c9028f67b...|
| 700010|  Aaron Aguilar|beverlyhale@examp...|(862) 346-3495|    102860|         Ford|       Fusion|        2012|        White|             86-85485|2024-10-15 00:15:01|9da28f3e6bf59f72f...|
|      5|  Aaron Aguilar|anthony78@example...|(867) 762-3031| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|a966dd203faf1291c...|
|      6|  Aaron Aguilar|wilsonruben@examp...|(376) 707-8408| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|7d403c55cd6dae43e...|
|      7|  Aaron Aguirre|samantha45@exampl...|(147) 383-2497| Passenger|    Passenger|    Passenger|   Passenger|    Passenger|            Passenger|2024-10-15 00:15:01|e67e82d0ddd8f2482...|
| 700012|Aaron Alexander|jasonhanna@exampl...|(868) 281-9704|    191874|          Kia|        Forte|        2011|        White|             0Z W8141|2024-10-15 00:15:01|02ad6af82b5132694...|
| 700015|Aaron Alexander|sotojohn@example.com|(925) 698-5822|    363420|   Volkswagen|       Passat|        2017|       Yellow|                71475|2024-10-15 00:15:01|ac160162601bb177f...|
+-------+---------------+--------------------+--------------+----------+-------------+-------------+------------+-------------+---------------------+-------------------+--------------------+
only showing top 20 rows

In [0]:
# Create the gold schema once outside the loop
spark.sql("CREATE SCHEMA IF NOT EXISTS gold")

for file in dataframe_names:
    print(file)
    table_name = f"gold.{file}"
    print(f"Creating external table: {table_name}")
    
    # Set the current database to 'gold'
    spark.sql("USE gold")
    
    delta_table_path = f"/mnt/gold/{file}"
    print(f"Delta table path: {delta_table_path}")
    #spark.sql(f"DROP TABLE IF EXISTS {table_name}")
    spark.sql(f"""
        CREATE EXTERNAL TABLE IF NOT EXISTS {table_name}
        USING DELTA 
        LOCATION '{delta_table_path}'
    """)



# Optionally, show the tables after the loop to inspect
spark.sql("SHOW TABLES IN gold").show()

dim_calendar
Creating external table: gold.dim_calendar
Delta table path: /mnt/gold/dim_calendar
dim_location
Creating external table: gold.dim_location
Delta table path: /mnt/gold/dim_location
dim_payment
Creating external table: gold.dim_payment
Delta table path: /mnt/gold/dim_payment
dim_user
Creating external table: gold.dim_user
Delta table path: /mnt/gold/dim_user
fct_request
Creating external table: gold.fct_request
Delta table path: /mnt/gold/fct_request
+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
|    gold|dim_calendar|      false|
|    gold|dim_location|      false|
|    gold| dim_payment|      false|
|    gold|    dim_user|      false|
|    gold| fct_request|      false|
+--------+------------+-----------+

In [0]:
from delta.tables import DeltaTable

# Dictionary to store the DeltaTable objects
delta_tables = {}

for table in dataframe_names:
    # Define the table location
    table_name = f"gold.{table}"
    print(table_name)
    print(table)
    # Store the DeltaTable object in the dictionary using the file name as the key
    delta_tables[table] = DeltaTable.forName(spark, table_name)  # Load table from path

    # Check if the table has been vacuumed in the last 30 days
    if delta_tables[table].history(30).filter("operation = 'VACUUM START'").count() == 0:
        # Optimize the table for better query performance
        delta_tables[table].optimize()
        # Perform vacuum operation (default is to keep data for 7 days)
        delta_tables[table].vacuum()

gold.dim_calendar
dim_calendar
gold.dim_location
dim_location
gold.dim_payment
dim_payment
gold.dim_user
dim_user
gold.fct_request
fct_request

In [0]:
spark.read.format("delta").load(f"/mnt/gold/fct_request").count()

292201

In [0]:
# Join the DataFrames with aliases for clarity
"""
fact_request_with_user_payment = fact_request.alias("fr") \
    .join(dim_user.alias("du"), col("fr.driver_id") == col("du.user_id"), "left") \
    .join(dim_user.alias("pu"), col("fr.passenger_id") == col("pu.user_id"), "left") \
    .join(dim_payment.alias("dp"), col("fr.s_payment") == col("dp.s_payment"), "left") \
    .select(
        col("fr.driver_id"),
        col("fr.passenger_id"),
        col("fr.pickup_location_id"),
        col("fr.dropoff_location_id"),
        col("fr.request_datekey"),
        col("fr.accept_datekey"),
        col("fr.trip_start_datekey"),
        col("fr.trip_end_datekey"),
        col("fr.s_payment"),
        col("fr.trip_distance"),
        col("fr.base_fare"),
        col("fr.extra_fare"),
        col("fr.mta_tax"),
        col("fr.tip_amount"),
        col("fr.tolls_amount"),
        col("fr.improvement_surcharge"),
        col("du.full_name").alias("driver_name"),
        col("du.email").alias("driver_email"),
        col("du.phone_number").alias("driver_phone"),
        col("du.vehicle_id").alias("driver_vehicle_id"),
        col("du.vehicle_make").alias("driver_vehicle_make"),
        col("du.vehicle_model").alias("driver_vehicle_model"),
        col("du.vehicle_year").alias("driver_vehicle_year"),
        col("du.vehicle_color").alias("driver_vehicle_color"),
        col("du.vehicle_license_plate").alias("driver_vehicle_license_plate"),
        col("pu.full_name").alias("passenger_name"),
        col("pu.email").alias("passenger_email"),
        col("pu.phone_number").alias("passenger_phone"),
        col("dp.method").alias("payment_method"),
        col("dp.status").alias("payment_status")
    )

# Show the resulting DataFrame
fact_request_with_user_payment.orderBy("driver_name").show(10)
"""

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3799327554425638>, line 12
     10 print(table)
     11 # Store the DeltaTable object in the dictionary using the file name as the key
---> 12 delta_tables[table] = DeltaTable.forPath(spark, table_name)  # Load table from path
     14 # Check if the table has been vacuumed in the last 30 days
     15 if delta_tables[table].history(30).filter("operation = 'VACUUM START'").count() == 0:
     16     # Optimize the table for better query performance

File /databricks/spark/python/delta/tables.py:402, in DeltaTable.forPath(cls, sparkSession, path, hadoopConf)
    399 jvm: "JVMView" = sparkSession._sc._jvm  # type: ignore[attr-defined]
    400 jsparkSession: "JavaObject" = sparkSession._jsparkSession  # type: ignore[attr-defined]
--> 402 jdt = jvm.io.delta.tables.DeltaTable.forPath(jsparkSession, path, hadoopConf)
    403 return DeltaTable(sparkSession, jdt)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [DELTA_MISSING_DELTA_TABLE] `gold.dim_calendar` is not a Delta table.